<div class="container">
	<h1>Welcome</h1>
	<form method="post" action="/" class="col s12">
		<div class="row">
			<div class="input-field">
				<label for="city">City</label>
				<input type="text" name="city">
			</div>
		</div>
	</form>	
	<div class="result">
		{{#if city}}
		{{!-- <p>the weather</p> --}}
		<p>Temperature is: <span class="chip">{{temp}} {{units}}</span> in {{city}} </p>
		{{else}}
		{{!-- <p>Temperature is: <span class="chip">{{temp}} {{units}}</span> in {{city}} </p> --}}
		<p>Type your city to see the weather</p>
		{{/if}}
	</div>
</div>